/* 웹폰트 CSS */
@font-face {
	font-family: 'Nanum Gothic';
	src: url(fonts/NanumGothic.eot)
}

@font-face {
	font-family: 'Nanum Gothic';
	src: url(fonts/NanumGothic.woff)
}

/*기본 레이아웃*/
#wrap {
	width: 1003px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	
}

#wrap{
	margin-top: 20px;
}

#header {
	height: 227px;
	position: relative;
	z-index: 10;
}



#footer_wrap {
	background-color: #f8f8f8;
	border-top: 2px solid #c56666;
	
}

#inner_footer {
	width: 50%;
	height: 60%;
	margin: 0 auto;
	position: relative;
	padding: 20px 0 50px 350px;
}

/*기본 글꼴 및 링크 텍스트 꾸미기*/
body {
	font: 12px gulim, "굴림", sans-serif;
	color: #333;
	background-color: #000;
	min-width: 1003px;
}

select, input, textarea, button {
	font: 12px gulim, "굴림", sans-serif;
	color: #333;
}

a {
	color: #333;
	text-decoration: none;
}

 a:hover, a:focus {
	color: #c0c0c0;
} 

.hide, legend, caption, hr {
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	overflow: hidden;
	text-indent: -9999px;
}

.pointer {
	cursor: pointer;
}

/*헤더 영역*/
#header h1 {
	position: absolute;
	left: 36px;
	top: 53px;
}

/*로그인 영역*/
.login_wrap {
	width:480px;
	height:100%;
	position: relative;	
	font-family:  NanumGothic, 나눔고딕, 'Nanum Gothic', '맑은 고딕', HelveticaNeue;
}

#signIn_form {
	
	width: 305px;
	height: 161px;
	/* background: url("../images/login_bg.png"); */
	padding: 40px 0;
	z-index: 15;
	
}

.user_id, .user_pw {
	position: relative;
}

.user_id label, .user_pw label {
	position: absolute;
	top: 3px;
	left: 1px;
}



.user_pw {
	margin-bottom: 8px;
}

#signIn_ID, #signIn_PW {
	width: 170px;
	height: 33px;
	line-height: 33px;
	padding-left: 3px;
	border: 1px solid #aaa;
	margin: 2px 0;
}

#signIn_form img {
	vertical-align: middle;
}

.log_btn {
	position: absolute;
	top: 40px;
	left: 340px;
	
	
	
}



.join_btn_wrap {
	margin: 10px 0;
}

.join_btn_wrap a {
	padding-left: 10px;
	background: url("../images/login_bullet.gif") no-repeat;
}

.sch_id_btn {
	margin-left: 20px;
}

/*유틸 메뉴 영역*/
#util_menu dd {
	float: left;
	padding: 0 5px;
}

.util_first li {
	margin-left: 10px;
	display: inline;
}

#util_menu {
	position: absolute;
	top: 4px;
	right: 3px;
}

#sch_f {
	position: absolute;
	top: 85px;
	left: 375px;
}

#keyword {
	border: 2px solid #d82824;
	height: 27px;
	line-height: 27px;
	width: 295px;
	background: url("../images/sch_guide.gif") no-repeat;
	padding-left: 5px;
}

/*GNB 영역*/
#gnb {
	position: absolute;
	top: 175px;
	left: 0;
	width: 1003px;
	height: 52px;
	background: #ae1c17 url("../images/gnb_bg.gif") repeat-x;
}

#gnb li {
	font-family:  NanumGothic, 나눔고딕, 'Nanum Gothic', '맑은 고딕', HelveticaNeue;
	float: left;
	margin:20px 50px;	
	font-weight: bold;
}

#gnb ul {
	position: absolute;
	background-color: #FFF;
	width: 1003px;
	top: 52px;
	left: 0;
	line-height: 35px;
	height: 35px;
	display: none;
}

#gnb ul li {
	margin-right: 1px;
	padding-left: 10px;
	background: url("../images/main_bullet.png") 2px 15px no-repeat;
	
}


#gnb ul.sub1 li:first-child {
	margin-left: 60px;
	
}

#gnb ul.sub2 li:first-child {
	margin-left: 157px;
}

#gnb ul.sub3 li:first-child {
	margin-left: 302px;
}

#gnb ul.sub4 li:first-child {
	margin-left: 438px;
}


#gnb ul .scroll a{
	color:#fff;
} 




/*퀵 메뉴*/
#quick_menu {
	width: 95px;
	text-align: center;
	position: absolute;
	top: 100px;
	right: -96px;
}

/*푸터 영역*/
#inner_footer h3.footer_logo {
	position: absolute;
	left: 35px;
	top: 48px;
}

#bottom_menu dd {
	float: left;
	margin-right: 15px;
}

#bottom_menu {
	width: 100%;
	overflow: hidden;
	margin-bottom: 25px;
}

address p {
	font-size: 12px;
	margin-top: 20px;
}

#relSite_wrap {
	position: absolute;
	left: 815px;
	top: 50px;
}